.home_bg h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 300px;
    text-align: center;
    color: yellow;
}

.home_bg h5 {
    text-align: center;
    color: yellow;
}

.home_bg{
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/A_view_of_the_map_repository_at_The_National_Archives.jpg/1200px-A_view_of_the_map_repository_at_The_National_Archives.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: auto;
}