.App{
  height: 100%;
}

.Route-Manager{
  height: 100%;
}

.header-container {
  font-family: 'Charmonman', cursive;
}

.image-home {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;  
    position: fixed;
    top: 0;
    left: 0;
}

.text-block {
  text-align: center;
  position: absolute;
  margin: 13% 35%;
  color:white;
  background-color: black;
  opacity: 0.8;
  padding-left: 20px;
  padding-right: 20px;
}


ul {
  list-style-type: none;
}

.button-container{
  margin: 10% auto;
}

.button-fnc{
  margin: 0 5%;
  opacity: 0.9
}

.form-group{
  color: red !important;
  font-weight: bold;
  text-align: center;
}

p {
  color: black !important;
  font-weight: bold;
  text-align: center;
  border-style: dashed;
}



/* gif.js, jpeg.js and png.js CSS*/

.image-describe{
  margin: 0 auto;
  padding: 3% 0.5%;
  width: 20%;
  position:relative;
}
.navigation-bar {
  display:flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  position: fixed;
  margin: 0 auto;
}

.btn-spacing {
  width: 10em;
}

.capture-handler{
  display:flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  text-align: center;
  width:33.33%;
}

.imgrepo-pos{
  float: up;
  display:flex;
  flex-direction: column;
  justify-content: right;
  text-align: center;
  float: right;
  width:33.33%;
  align-items: right;
  margin: 0 auto;
}

.image-row{
  border: 1px solid gray;
}

.float-right{
  float:right;
}